$tablet-width: 786px;
$desktop-width: 1280px;

$primary-dark: #13182c;
$primary-accent: #2e66e5;
//used for hover
$primary-light: #ffffff;

$page-header: 32px;
$subheader: 24px;
$labels: 14px;
$table-header: 12px;
$body-large: 16px;
$body-medium: 14px;
$body-small: 12px;
$page-header-mobile: 28px;
$subheader-mobile: 20px;
$labels-mobile: 13px;
$table-header-mobile: 11px;
$body-large-mobile: 15px;
$body-medium-mobile: 13px;
$body-small-mobile: 11px;

$secondary-dark: #5c667e;
$secondary-light: #bdc5d5;

//used for hover
$bgcolor-dark: #232940;
$bgcolor-light: #f7f8f9;

$sup-green: #158463;
$sup-red: #c94515;

$regular: 400;
$bold: 600;

// FONT SIZE:
$page-header: 32px;
$subheader: 24px;
$labels: 14px;
$table-header: 12px;
$body-large: 16px;
$body-medium: 14px;
$body-small: 12px;
$page-header-mobile: 28px;
$subheader-mobile: 20px;
$labels-mobile: 13px;
$table-header-mobile: 11px;
$body-large-mobile: 15px;
$body-medium-mobile: 13px;
$body-small-mobile: 11px;

// Spacing
$space-between-items-sm: 16px;
$space-between-items-lg: 24px;
$space-outside-items-sm: 16px;
$space-outside-items-md: 32px;
$space-outside-items-lg: 63px;


$def-border:1px solid $bgcolor-light;